.container{
    width: 1280px;
    margin: 0 auto;
}
h1{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    flex-wrap: wrap;
    width: 100vh;
}
img{
    max-width: 100%;
}